*{
  margin: 0;
  padding: 0;
  font-family: 'Biryani', sans-serif;
}

header{
  background-color: #0E1011;
  width: 100%;
}

img{
  padding: 40px;
}

.headercontent{
  max-width: 1400px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0E1011;
}

.menu ul{
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.menu ul li{
  font-size: 1rem;
  list-style: none;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  transition: 0.6s;
}

.menu ul li:hover{
  background-color: white;
  color: black;
}

.perfilfoto{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foto{
  width: 75px;
  height: 75px;
  background-color: blueviolet;
}

.display{
  font-size: 1rem;
  color: white;
}

section{
  background-color: #0E1011;
  height: 1000px;
}

section h1{
  color: blueviolet;
  font-size: 3rem;
  text-align: center;
  padding: 50px;
}

.perfilcontent{
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  border-radius: 5px;
}

.imagem{
  width: 200px;
  height: 200px;
  background-color: blueviolet;
}

.perfilcontent h2{
  font-size: 3rem;
  color: white;
}

.perfilcontent:hover{
  justify-content: space-between;
  background-color: blueviolet;
  transition: 2s;
  box-shadow: 0px 0px 10px white;
}










footer{
  border-top: 2px solid white;
  width: 100%;
  height: 220px;
  background-color: #0E1011;
}

.footercontent{
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.footerimages{
  
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 120px;
  justify-content: space-around;
}

.footerimages div{
  display: flex;
  justify-content: space-around;
  color: white;
}

.footerimages img{
  padding:0;
}

footer p{
  color: white;
  font-size: 1rem;
  text-align: center;
  line-height: 50px;
}